*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}


nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgb(86, 86, 86);
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4%;
}


nav .logo {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

nav ul li{
   list-style: none;
   display: inline-block;
   margin-left: 30px;  
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.myVideo{
    position: absolute;
    width: 100%;
    top: 35px;
    right: 0;
    left: 0;
    z-index: -1;
}

.card-content{
    backdrop-filter: blur(16px);
    border: solid;
    border-color: rgb(207, 207, 207);
    border-radius: 24px;
    width: 50vw;
    height: 34vh;
    padding: 24px;
    margin: 10% auto;
}

.card-content h1 {
    color: rgb(237, 237, 237);
    padding: 20px;
    margin-top: 0;
    font-size: 40px;
    text-align: center;
    margin: 2%;
}

.card-content p{
    color: aliceblue;
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
}

.card-content .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content select{
    padding: 2%;
    appearance: none;
    border: none;
    background-color: rgba(4, 4, 4, 0.5);
    color: aliceblue;
    text-align: center;
    font-size: medium;

}
